
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

$break-small:320px;
$break-mobile: 400px;
$break-tablet:768px;
$break-tab-pro:1024px;
$break-desktop-medium:1200px;
$break-desktop-large: 1400px;
$break-desktop-1600: 1600px;
#main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skin5], #main-wrapper[data-layout=horizontal] .topbar .top-navbar .navbar-header[data-logobg=skin5]{
    background: linear-gradient(0deg, #87CEEB 7.29%, rgba(255, 255, 255, 0) 304.17%);
}
html{
    background: #EDF2F8;
}
body {
    font-family: 'Public Sans', sans-serif;
}
.table-custom {
    .table thead tr{
        background: #D4E1F1;
        border-radius: 4px;
        th{
            font-family: 'Public Sans', sans-serif;
            font-weight: 600;
            font-size: 14px;
            line-height: 130%;
            color: #002E45;
        }
    }
    .table tbody tr{
        background: #FFFFFF;
        border-radius: 4px;
        border-top: 9px solid #EDF2F8;
        font-family: 'Public Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        color: #242424;
    
    }
    .table tbody tr td{
       vertical-align: middle;
    
    }
}

#flasher-container-top-right {
    z-index: 10000;
}
.group-date .icon-calendar {
    position: absolute;
    top: 55%;
    right: 0;
}
.group-date .icon-calendar.no-label {
    position: absolute;
    top: 20%;
    right: 0;
}
.box-bill-detail p span {
    font-weight: 600;
    font-size: 15px;    
}

.modal-dialog {
    max-width: 1000px;
}

.modal-content {
    min-height: 300px;
    
}
 .table td, 
 .table th {
    padding: 10px 5px 10px 5px;
}
.box-note .box-note-circle {
    position: relative;
    margin: 0 30px;
}
.box-note .box-note-circle::before {
    position: absolute;
    content: "";
    top: 16%;
    left: -19px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  
}

.box-note .box-note-circle.circle-yellow::before {
    background-color: #f7ce04;
    border: 1px solid #f7ce04;
}
.box-note .box-note-circle.circle-red::before {
    background-color: rgb(235, 17, 17);
    border: 1px solid rgb(235, 17, 17);
}

.box-list-product-detail table tr.row-yellow {
    background-color: #f7ce04;
}

.box-list-product-detail table tr.row-red {
    background-color: rgb(235, 17, 17);
    color: #fff;
}